<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.artemis" origin="ONOS Community" version="1.12.0"
        title="Artemis" category="Monitoring" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-apps-artemis/1.12.0/xml/features"
        features="onos-apps-artemis" apps="org.onosproject.sdnip,org.onosproject.openflow,org.onosproject.ovsdb,org.onosproject.drivers.ovsdb">
    <description>Artemis</description>
    <artifact>mvn:org.onosproject/onos-apps-artemis/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-apps-routing-api/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-apps-routing-common/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-protocols-ovsdb-api/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-apps-route-service-api/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-protocols-ovsdb-rfc/1.12.0</artifact>
</app>
