<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.openflow" origin="ONOS Community" version="1.12.0"
        title="OpenFlow Provider Suite" category="Provider" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onlab-osgi/1.12.0/xml/features"
        features="onlab-osgi" apps="org.onosproject.hostprovider,org.onosproject.lldpprovider,org.onosproject.openflow-base">
    <description>Suite of the OpenFlow base providers bundled together with ARP/NDP host location provider and LLDP link provider.</description>
    <artifact>mvn:org.onosproject/onlab-osgi/1.12.0</artifact>
</app>
