<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.drivers.flowspec" origin="ONOS Community" version="1.12.0"
        title="Generic Flow Spec Drivers" category="Drivers" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-drivers-flowspec/1.12.0/xml/features"
        features="onos-drivers-flowspec" apps="org.onosproject.drivers">
    <description>Adds support for devices using flow specs.</description>
    <artifact>mvn:org.onosproject/onos-drivers-flowspec/1.12.0</artifact>
</app>
