<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.tl1" origin="ONOS Community" version="1.12.0"
        title="TL1 Provider" category="Provider" url="https://wiki.onosproject.org/display/ONOS/TL1"
        featuresRepo="mvn:org.onosproject/onos-providers-tl1/1.12.0/xml/features"
        features="onos-providers-tl1" apps="">
    <description>Provides means for ONOS to discover and trigger the initial handshake procedure with TL1 enable devices from information given by network configuration.</description>
    <artifact>mvn:org.onosproject/onos-providers-tl1-device/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-protocols-tl1-api/1.12.0</artifact>
</app>
