<!DOCTYPE html>
<html>
  <head>
      <title>FlexKan - Welcome</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div align="center" class="container">
      <h2>Welcome {{ username }}</h2>
        <h3>You can now start working in the {{ userValues['bedrijfsNaam'] }} environment.</h3>
      <br>
      <p>Click <a href="http://www.google.nl">here</a> to start browsing.</p>
    </div>
  </body>
</html>