<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.pipelines.fabric" origin="ONOS Community" version="1.12.0"
        title="Fabric Pipeline" category="Pipeline" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-pipelines-fabric/1.12.0/xml/features"
        features="onos-pipelines-fabric" apps="org.onosproject.drivers.p4runtime,org.onosproject.pipelines.basic">
    <description>Provides pipelines with CORD fabric underlay support.</description>
    <artifact>mvn:org.onosproject/onos-pipelines-fabric/1.12.0</artifact>
</app>
