<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.generaldeviceprovider" origin="ONOS Community" version="1.12.0"
        title="General Device Provider" category="Provider" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-providers-general-device/1.12.0/xml/features"
        features="onos-providers-general-device" apps="">
    <description>General device southbound providers.</description>
    <artifact>mvn:org.onosproject/onos-providers-general-device/1.12.0</artifact>
</app>
