<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.events" origin="ONOS Community" version="1.12.0"
        title="Event History" category="Test Utility" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-apps-events/1.12.0/xml/features"
        features="onos-apps-events" apps="">
    <description>Allows recording and tracking of otherwise ephemeral ONOS core events. It is primarily aimed for supporting various system tests and to assure that expected events are raised and broadcast to applications that have requested them.</description>
    <artifact>mvn:org.onosproject/onos-apps-events/1.12.0</artifact>
</app>
