<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.drivers.microsemi" origin="ONOS Community" version="1.12.0"
        title="Microsemi Drivers" category="Drivers" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-drivers-microsemi/1.12.0/xml/features"
        features="onos-drivers-microsemi" apps="org.onosproject.yang,org.onosproject.config,org.onosproject.netconf,org.onosproject.netconfsb,org.onosproject.drivers.netconf,org.onosproject.models.common,org.onosproject.models.microsemi">
    <description>Adds support for Microsemi devices.</description>
    <artifact>mvn:org.onosproject/onos-drivers-microsemi/1.12.0</artifact>
</app>
