<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.scalablegateway" origin="ONOS Community" version="1.12.0"
        title="Scalable Gateway" category="Traffic Steering" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-apps-scalablegateway/1.12.0/xml/features"
        features="onos-apps-scalablegateway" apps="">
    <description>Scalable gateway service</description>
    <artifact>mvn:org.onosproject/onos-apps-scalablegateway/1.12.0</artifact>
</app>
