<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.reactive-routing" origin="ONOS Community" version="1.12.0"
        title="SDN-IP Reactive Routing" category="Traffic Steering" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-apps-reactive-routing/1.12.0/xml/features"
        features="onos-apps-reactive-routing" apps="org.onosproject.intentsynchronizer,org.onosproject.sdnip,org.onosproject.route-service">
    <description>SDN-IP reactive routing application.</description>
    <artifact>mvn:org.onosproject/onos-apps-reactive-routing/1.12.0</artifact>
</app>
