<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.flow-perf" origin="ONOS Community" version="1.12.0"
        title="Flow Performance Test" category="Test Utility" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-apps-test-flow-perf/1.12.0/xml/features"
        features="onos-apps-test-flow-perf" apps="">
    <description>Messaging performance test application.</description>
    <artifact>mvn:org.onosproject/onos-apps-test-flow-perf/1.12.0</artifact>
</app>
