<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.dhcp" origin="ONOS Community" version="1.12.0"
        title="DHCP Server" category="Utility" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-apps-dhcp/1.12.0/xml/features"
        features="onos-apps-dhcp" apps="">
    <description>DHCP Server</description>
    <artifact>mvn:org.onosproject/onos-apps-dhcp-api/1.12.0</artifact>
    <artifact>mvn:org.onosproject/onos-apps-dhcp-app/1.12.0</artifact>
</app>
